.main {
    width: 100%;
    height: 100%;
}

.north {
    height: 50px;
    width: 100%;
    background: #272A27;
    border-bottom: 1px solid #173530;
}

.west {
    width: 20%;
    height: 60%;
    background: #272727;
    float: left;
}

.center {
    width: calc(40% - 1px);
    height: 60%;
    position: relative;
    background: #173530;
    float: left;
    border-top: 1px solid #2E6386;
    border-bottom: 1px solid #2E6386;
    border-right: 1px solid #2E6386;
}

.east {
    width: 40%;
    height: 60%;
    background: darkred;
    float: left;
}

.south {
    height: 40%;
    width: 100%;
    background: #272A27;
    float: left;
    box-shadow: inset 0 1px 0 0 #173530;
}

/*------------ element ---------------*/

.firstLastName {
    width: 240px;
    height: 30px;
}

.image {
    width: 50px;
    height: 100%;
    float: left;
    background: #272727;
}

.element {
    width: 240px;
    height: 60px;
    cursor: pointer;
}

.leftScroll {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    direction: rtl;
    background: #272727;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: #173530;
}

::-webkit-scrollbar-button {
    background-color: #272A27;
}

.fLNames {
    cursor: pointer;
    margin-top: 3px;
    float: left;
    margin-left: 12px;
}

.imageIcon {
    height: 40px;
    width: 40px;
    margin-top: 7px;
}

.selected {
    background: #173530;
}

.rightShadow {
    border-top: 1px solid #2E6386;
    border-left: 1px solid #2E6386;
    border-bottom: 1px solid #2E6386;
    box-shadow: 1px 0 0 0 #173530;
}

.addEmployeeBtn {
    height: 30px;
    float: right;
    margin-right: 14px;
    margin-top: 12px;
    border-radius: 5px;
    width: 100px;
    border: 1px solid #2E6386;
    background: #173530;
    cursor: pointer;
    margin-bottom: 12px;
}

.addEmployeeBtn:active {
    opacity: 0.4;
}

.addEmployeeLabel {
    float: left;
    margin-left: 29px;
    margin-top: 5px;
    cursor: pointer;
}

.addBtnMargin{
    margin-left: 36px !important;
}

.employeeTitle {
    height: 20px;
    width: 100%;
    background: #272727;
}

.font {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    color: #2E6386;
    text-shadow: 1px 1px 1px black, 0 0 1px #173530;
    font-size: 15px;
}

.employeesListTitle {
    margin-left: 12px;
}

.elements {
    width: 100%;
    height: 100%;
    border-right: 1px solid #2E6386;
    background: #272727;
}

/*------------ element end ---------------*/

.registerPanelButton {
    width: 100px;
    height: 25px;
    float: right;
    margin-right: 30px;
    margin-top: 8px;
    background: #173530;
    border-radius: 5px;
    border: 1px solid #2E6386;
    text-align: center;
    padding-top: 8px;
    cursor: pointer;
}

.registerPanelButton:active {
    opacity: 0.4;
}

.header {
    border-right: 1px solid #2E6386;
    float: right;
}

.employeeInfo {
    height: 20px;
    width: 100%;
    margin-left: 12px;
    margin-top: 6px;
}