.searchPanel {
    margin-top: 12px;
}

.searchLabel {
    float: left;
    margin-left: 6px;
}

.searchField {
    float: left;
    margin-left: 12px;
    border-radius: 3px;
    border: 1px solid #2E6386;
    background-color: #173530;
    color: #AEAEAE;
    padding-left: 6px;
}

.searchScroll {
}

.searchedElements {
    position: absolute;
    margin-top: 19px;
    float: left;
    margin-left: 112px;
    width: 177px;
    background: #173530;
}

.foundedElement {
    text-align: center;
    cursor: pointer;
}

.foundedElement:active {
    opacity: 0.4;
}

.foundedElement:hover {
    background: #2E6386;
}