.main {
    left: 50%;
    position: absolute;
    margin: 0 0 0 -500px;
    width: 1000px;
    height: 500px;
}

.parent {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.north {
    height: 50px;
    width: 100%;
    background: #272A27;
    border-bottom: 1px solid #173530;
}

.west {
    width: 125px;
    height: 500px;
    background: #272A27;
    float: left;
}

.center {
    width: 600px;
    height: 500px;
    float: left;
}

.east {
    width: 275px;
    height: 500px;
    background: cyan;
    float: left;
}

.south {
    height: 50px;
    width: 100%;
    background: orange;
    float: left;
}

.button {
    width: 80px;
    height: 25px;
    float: left;
    margin-left: 23px;
    margin-top: 20px;
    background: #1C1D20;
    color: #AEAEAE;
    border-radius: 5px;
    text-align: center;
    font-family: "Times New Roman", sans-serif;
    font-size: 15px;
    padding-top: 8px;
    cursor: pointer;
}

.formButtonCancel:active, .formButtonAdd:active, .button:active, .registerPanelButton:active {
    background: #173530;
    opacity: 0.7;
}

.formButtonCancel:hover, .formButtonAdd:hover, .button:hover, .registerPanelButton:hover {
    box-shadow: 0 0 20px 0 #173530;
    text-shadow: 0 0 1px 0 deepskyblue;
}

.buttonsPanel {
    width: 125px;
    height: 400px;
    margin-top: 10px;
}

.form {
    position: absolute;
    z-index: 1;
    width: 300px;
    height: 200px;
    background: #272A27;
    left: 27%;
    top: 20%;
    color: grey;
    display: none;
}

.textField {
    width: 120px;
    height: 20px;
    border-radius: 2px;
    float: right;
    margin-right: 20px;
    margin-top: 12px;
}

.formLabel {
    float: left;
    width: 130px;
    margin-top: 14px;
    margin-left: 6px;
}

.formButtonCancel {
    float: left;
    width: 80px;
    height: 25px;
    padding-top: 5px;
    margin-top: 50px;
    margin-left: 20px;
    background: #1C1D20;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.formButtonAdd {
    float: left;
    width: 120px;
    height: 25px;
    padding-top: 5px;
    margin-top: 50px;
    margin-left: 50px;
    background: #1C1D20;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.table {
    width: 100%;
    height: 100%;
    background: grey;
    z-index: 0;
}

.employee {
    width: 100%;
    height: 30px;
    background: #56575C;
    cursor: pointer;
}

.employee:hover {
    background: #173530;
}

.tableTitle {
    width: 100%;
    height: 30px;
    background: #272A27;
}

.tableTitleId {
    margin-left: 95px;
    margin-top: 6px;
    float: left;
    text-shadow: 1px -1px 5px cyan;
}

.tableTitleFirstName {
    margin-left: 140px;
    margin-top: 6px;
    float: left;
    text-shadow: 1px -1px 5px cyan;
}

.tableTitleLastName {
    margin-right: 60px;
    margin-top: 6px;
    float: right;
    text-shadow: 1px -1px 5px cyan;
}

.employeeId {
    width: 200px;
    height: 30px;
    text-align: center;
    box-shadow: inset -1px 0 0 0 #272A27;
    float: left;
}

.employeeName {
    width: 200px;
    height: 30px;
    text-align: center;
    box-shadow: inset -1px 0 0 0 #272A27;
    float: left;
}

.selected {
    background: #356B91 !important;
}

.search {
    width: 100%;
    height: 60px;
    background: #272A27;
    color: #AEAEAE;
    border-bottom: 1px solid #173530;
}

.searchField {
    width: 150px;
    background: #173530;
    border: 1px solid #615050;
    border-radius: 2px;
    color: #AEAEAE;
    padding-left: 6px;
    margin-top: 28px;
    margin-left: 6px;
}

.searchLabel {
    margin-left: 15px;
}

.searchResult {
    width: 100%;
    height: 100px;
    background: #272A27;
    overflow-y: scroll;
}

.foundedElement {
    width: 100%;
    height: 20px;
    color: #AEAEAE;
    text-align: center;
    cursor: pointer;
}

.foundedElement:hover {
    background: #173530;
}

.foundedElement:active {
    background: #356B91 !important;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: #173530;
}

::-webkit-scrollbar-button {
    background-color: #272A27;
}

.registerPanelButton {
    width: 80px;
    height: 25px;
    float: right;
    margin-right: 20px;
    margin-top: 10px;
    background: #1C1D20;
    color: #AEAEAE;
    border-radius: 5px;
    text-align: center;
    font-family: "Times New Roman", sans-serif;
    font-size: 15px;
    padding-top: 8px;
    cursor: pointer;
}